In [1]:
import pandas as pd
from resources.funciones import buscar_muni
from resources.funciones import buscar_prov
from resources.funciones import get_saldo
from tkinter.filedialog import askopenfilenames

In [2]:
munidatabase = pd.read_csv('databases/municipios.csv', sep=';')

In [3]:
munidatabase.head()

   PROV  PROVMUNI          MUNINAME
0     1      1001  Alegría-Dulantzi
1     1      1002           Amurrio
2     1      1049             Añana
3     1      1003           Aramaio
4     1      1006           Armiñón

In [6]:
filename = askopenfilenames(title= "Elige todos los microdatos en .CSV", filetypes=[('CSV file', '*.csv'), ('All files', '*.*')])

In [21]:
for filez in filename:
    print(filez)
    microdatos = pd.read_csv(filez)
    year = filez[-8:-4]
    name = str('Saldo_' + year)
    munidatabase[name] = munidatabase['PROVMUNI'].apply(get_saldo(df=microdatos, munidatabase['PROVMUNI']))

/Volumes/HD/Github/var-residenciales/testfiles/2000.csv

NameError: name 'microdatos' is not defined

In [20]:
microdatos.head()

,SEXO,PROVNAC,MUNINAC,EDAD,MESNAC,ANONAC,CNAC,PROVALTA,MUNIALTA,MESVAR,ANOVAR,PROVBAJA,MUNIBAJA,TAMUALTA,TAMUBAJA,TAMUNACI,PROVMUNIALTA,PROVMUNIBAJA,GALALTA,GALBAJA
0,6,1,1,57,2,1943,108,1,59,9,2000,1,901,6,1,1,1059,1901,G253,G144
1,6,1,1,62,7,1938,108,39,14,7,2000,1,1,1,1,1,39014,1001,G094,G253
2,1,1,1,54,12,1945,108,20,39,5,2000,1,59,1,6,1,20039,1059,NaN,G253
3,6,1,1,63,12,1936,108,48,20,6,2000,1,59,6,6,1,48020,1059,NaN,G253
4,1,1,1,2,10,1997,108,48,72,9,2000,1,1,1,1,1,48072,1001,G253,G253